.breadcrumbs {
  min-height: 85px;
  padding-top: 32px;
  display: flex;
  flex-direction: column;

  &__links{
    display: flex;
    margin-left: 16px;
    column-gap: 16px;
    align-items: center;
  }

  &__link {
    text-decoration: none;
    color: #191919;
    font-size: 18px;
    font-weight: 400;
    line-height: 22.89px;
    text-align: center;
  }
}
