.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &__container {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      .profile-dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }

      .profile__dropdown-icon {
        transform: rotate(180deg);
      }
    }
  }
}